.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: auto;
  padding: 20px;
  border: 5px solid black;
  border-radius: 5px;
 margin: 10px;
}

.formContainer #inputUsername {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}
.formContainer #inputPassword {
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.formContainer button {
  margin-top: 15px;
  height: 30px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  width: 50%;
  align-self: center;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

.errorMessage{
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}